body{
	background-image: url("../images/footer_lodyas.png");
	color: white;
}

#header-hangman{
	font-size: 60px;
    position: relative;
    animation-name: example;
    animation-duration: 1s;

}

@keyframes example {
    0%   {transform: rotate(360deg);left: 0px;}
    100% {left:0px;}
}

p{
	font-family: 'Caveat Brush', cursive;
	font-size: 24px;
}

h1{
	font-size: 50px;
}

.page-header{
	font-size: x-large;
	font-family: 'Caveat Brush', cursive;
	color: white;
	text-align: center;
}

.gameBodyRow{
	min-height: 700px;
	/*height: 100%;*/
	/*border: 0px dashed white;*/
}



.gameBodyCol{
	padding: 20px;
	text-align: center;
	border: 5px dotted white;
	min-height: 700px;
}

@keyframes imageEnim {
    0%   {transform: rotate(360deg);left: 0px;}
    50% {width:250px; height: 250px}
    100% {left:0px;}
}
.gameBodyCol:first-child {
    border-right: 0 none;
}

#guessImage{

	padding: 20px;
	width: 200px;
	height: 200px;
}
#guessImage{
	font-size: 60px;
    position: relative;
    animation-name: imageEnim;
    animation-duration: 1s;
}
#guessImage:hover{

	padding: 20px;
	width: 250px;
	height: 250px;
	transition: width 1s, height 1s;
}
.getStarted{
	font-family: 'Caveat Brush', cursive;
	font-size: 30px;
}